<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css"/>
    </head>



    <body>
        <h1>Fox's</h1>
        <a href="/"> Home</a>
        &nbsp
        <a href="/about"> About</a>
        &nbsp
        <a href=""> Add</a>
        {{{body}}}
    
    </body>
</html>