<!DOCTYPE html>
<html lang="en">
    <head>
           <title>Restaurants</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css"/>
    </head>



    <body>
        <h1>Fox's</h1>
        <a href="/"> Home</a>
        &nbsp
        <a href="/about"> About</a>
        &nbsp
        <a href="/new"> Add</a>
        {{{body}}}
        
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0" nonce="s2mnFvUi"></script>


    </body>
    


    

</html>