<h1>Foxes are cool!</h1>
<p></p>
{{date}}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Fox_-_British_Wildlife_Centre_%2817429406401%29.jpg/1024px-Fox_-_British_Wildlife_Centre_%2817429406401%29.jpg" 
width="100%"> 