<h2>Add a Restaurant</h2>

<form action="/new" method="POST">
   
   <label>Name
    <input type="text" name="name" placeholder="Restaurant Name" required>
   </label>

   <label>url
    <input type="text" name="image" placeholder="Website Address" required>
   </label>

    <button type="submit">Submit</button>
</form>